Repository benc-uk/batcomputer: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml, pipelines/titanic-training.yml, pipelines/train-titanic-model.yaml

Path conditions:
  pipelines/batcomputer-build-api.yml: any of: model-api, pipelines/batcomputer-build-api.yml
  pipelines/batcomputer-training.yml: any of: training/scikit-batcomputer.py, pipelines/batcomputer-training.yml, aml/run-training.py
  pipelines/titanic-build-api.yml: any of: model-api, pipelines/titanic-build-api.yml
  pipelines/titanic-training.yml: any of: training/scikit-titanic.py, pipelines/titanic-training.yml, aml/run-training.py
  pipelines/train-titanic-model.yaml: any of: notebooks

Reorg of the old v1 folder
  old/databricks/job-train-batcomputer-model.json
  old/databricks/job-train-titanic-model.json
  old/devops/deploy.sh
  old/devops/pipelines-v1/build-batcomputer-image.yaml
  old/devops/pipelines-v1/build-titanic-image.yaml
  old/devops/pipelines-v1/scikit-base-image.yaml
  old/devops/pipelines-v1/templates/build-image.yaml
  old/devops/pipelines-v1/templates/run-databricks-job.yaml
  old/devops/pipelines-v1/train-batcomputer-model.yaml
  old/devops/pipelines-v1/train-titanic-model.yaml
  old/devops/templates/run-aml-python.yml
  old/notebooks/spark-batcomputer-prep.py
  old/notebooks/spark-batcomputer-train.py
  old/scripts/.env.sample
  pipelines/readme.md
Due: none

Helm docs and more
  README.md
  kubernetes/helm/batcomputer/templates/NOTES.txt
  kubernetes/helm/batcomputer/templates/api.deploy.yaml
  kubernetes/helm/batcomputer/templates/ingress.yaml
  kubernetes/helm/batcomputer/values.yaml
  kubernetes/helm/myvalues.yaml
  kubernetes/helm/readme.md
  kubernetes/helm/values.sample.yaml
  model-api/readme.md
  training/readme.md
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

blah
  kubernetes/helm/myvalues.yaml
Due: none

Helm docs
  kubernetes/helm/readme.md
Due: none

More helm docs
  kubernetes/helm/readme.md
Due: none

Batclient docs
  README.md
  batclient/readme.md
  docs/batclient.png
Due: none

Whoops with batclient docs
  README.md
  batclient/docs.md
Due: none

docs
  README.md
  azure/aml-script/readme.md
  batclient/docs.md
  data/readme.md
  docs/setup.md
Due: none

Setup guide
  docs/setup.md
Due: none

New step for data-load pipeline
  pipelines/batcomputer-data-load.yml
  pipelines/readme.md
Due: none

docs docs I'm so bored of docs
  .gitignore
  docs/setup.md
Due: none

Will these docs ever end?
  README.md
  aml/.env.sample
  docs/setup.md
Due: none

Added slides
  README.md
  docs/Project Bat Computer.pdf
  docs/setup.md
Due: none

Demo CI
  model-api/test-api.http
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml

Tweaked locations of REST test files
  etc/test-api.http
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Changing back to use full dataset on training
  training/scikit-batcomputer.py
Due: pipelines/batcomputer-training.yml

Fixing some edge cases, locating pickles etc
  aml/run-training.py
  model-api/.deployment
  model-api/requirements.txt
  model-api/src/server.py
Due: pipelines/batcomputer-build-api.yml, pipelines/batcomputer-training.yml, pipelines/titanic-build-api.yml, pipelines/titanic-training.yml

Mistake with pickle file paths in docker image
  model-api/Dockerfile
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

added smoketest bash script
  model-api/Dockerfile
  tests/smoketest.sh
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

I dunno
  README.md
  model-api/src/server.py
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

yes
  readme.md
Due: none

ww
  readme.md
Due: none

blah
  foo
Due: none

begone
  foo
Due: none

Update readme.md
  readme.md
Due: none

Slight re-org
  aml/fetch-model.py
  archive/databricks/cluster.json
  archive/databricks/job-train-batcomputer-model.json
  archive/databricks/job-train-titanic-model.json
  archive/databricks/readme.md
  archive/notebooks/dataload-batcomputer.py
  archive/notebooks/readme.md
  archive/notebooks/scikit-batcomputer.py
  archive/notebooks/scikit-titanic.py
  archive/notebooks/spark-batcomputer-prep.py
  archive/notebooks/spark-batcomputer-train.py
  archive/pipelines/build-batcomputer-image.yaml
  archive/pipelines/build-titanic-image.yaml
  archive/pipelines/readme.md
  archive/pipelines/scikit-base-image.yaml
  archive/pipelines/templates/build-image.yaml
  archive/pipelines/templates/run-databricks-job.yaml
  archive/pipelines/train-batcomputer-model.yaml
  archive/pipelines/train-titanic-model.yaml
  archive/readme.md
  archive/scripts/.env.sample
  archive/scripts/deploy.sh
  archive/scripts/get-pickles.sh
  etc/test-api.http
  old/devops/templates/run-aml-python.yml
Due: none

Update helm values for release pipeline
  kubernetes/helm/myvalues.yaml
Due: none

Publish helm chart artifacts from CI build
  pipelines/batcomputer-build-api.yml
  pipelines/titanic-build-api.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

path to helm artifacts
  pipelines/batcomputer-build-api.yml
  pipelines/titanic-build-api.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

Change to pipeline trigger artifacts
  kubernetes/helm/release-values.yaml
  pipelines/batcomputer-build-api.yml
Due: pipelines/batcomputer-build-api.yml

Fix YAML pipeline error with sed
  pipelines/batcomputer-build-api.yml
Due: pipelines/batcomputer-build-api.yml

YAML values problems
  kubernetes/helm/release-values.yaml
Due: none

More artifacts published
  pipelines/batcomputer-build-api.yml
  pipelines/titanic-build-api.yml
Due: pipelines/batcomputer-build-api.yml, pipelines/titanic-build-api.yml

Enable TLS HTTPS on Kubernetes endpoints
  kubernetes/helm/release-values.yaml
  model-api-functions/.gitignore
  model-api-functions/host.json
  model-api-functions/modelPredict/function.json
  model-api-functions/modelPredict/function.py
  model-api-functions/requirements.txt
Due: none

New cert-manager annotation for cluster issuer
  kubernetes/helm/batcomputer/templates/ingress.yaml
Due: none

Increase AML cluster scale down delay to 2 hours
  aml/amllib/utils.py
Due: none

Changed TLS cert in Helm chart, removed rel name
  kubernetes/helm/batcomputer/templates/ingress.yaml
Due: none

Hit LE rate limits so switching to staging issuer
  kubernetes/helm/release-values.yaml
Due: none

TLS redirct causing problems with LE staging certs
  kubernetes/helm/batcomputer/templates/ingress.yaml
Due: none

Helm chart update for static certs
  kubernetes/helm/batcomputer/templates/ingress.yaml
  kubernetes/helm/batcomputer/values.yaml
  kubernetes/helm/release-values.yaml
  kubernetes/helm/values.sample.yaml
Due: none
